{% extends 'base.html' %}

{% block content %}
  <main id="main" class="main">

     <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Xaydovchilar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">Jadval</h5>
              </div>

              <!-- Table with stripped rows -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Xaydovchi</th>
                    <th scope="col">Nomi</th>
                    <th scope="col">Raqami</th>
                    <th scope="col">Summa</th>
                    <th scope="col">holat</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in aftomabil %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                      {% for j in i.istemolchi_set.all %}
                        <p>{{ j.full_name }}</p>
                      {% endfor %}
                    </td>
                    <td><a href="{% url 'xarajatlar' i.id %}">{{ i.nomi }}</a></td>
                    <td>{{ i.raqami }}</td>
                    <td>{{ i.summa }}</td>
                    <td>
                    <a href="{% url 'car_aktiv' i.pk %}">
                      {% if i.status %}
                        <span class="badge bg-success">aktiv</span>
                      {% else %}
                        <span class="badge bg-danger">passiv</span>
                      {% endif %}
                    </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->


{% endblock content %}