{% extends 'base.html' %}{% load static %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Profil</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              {% if user.img %}
                  <img src="{{ user.img.url }}" alt="Profile" class="rounded-circle">
              {% else %}
                  <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Default Profile" class="rounded-circle">
              {% endif %}
              <h2>{{ user.get_full_name }}</h2>
              <h3>{{ user.nomi }}</h3>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Umumiy ko'rinish</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Profilni tahrirlash</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Profil tafsilotlari</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Tashkilot nomi</div>
                    <div class="col-lg-9 col-md-8">{{ user.nomi }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">To'liq ism</div>
                    <div class="col-lg-9 col-md-8">{{ user.get_full_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Telegram</div>
                    <div class="col-lg-9 col-md-8">{{ user.tg }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Telefon</div>
                    <div class="col-lg-9 col-md-8">{{ user.tel }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="POST" enctype="multipart/form-data">{% csrf_token %}

                     <div class="row mb-3">
                      <label for="id_nomi" class="col-md-4 col-lg-3 col-form-label">Tashkilot nomi</label>
                      <div class="col-md-8 col-lg-9">
                        {{form.nomi}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="id_first_name" class="col-md-4 col-lg-3 col-form-label">Ism</label>
                      <div class="col-md-8 col-lg-9">
                        {{form.first_name}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="id_last_name" class="col-md-4 col-lg-3 col-form-label">Familiya</label>
                      <div class="col-md-8 col-lg-9">
                        {{form.last_name}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="id_tg" class="col-md-4 col-lg-3 col-form-label">Telegram</label>
                      <div class="col-md-8 col-lg-9">
                        {{form.tg}}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="id_tel" class="col-md-4 col-lg-3 col-form-label">Telefon</label>
                      <div class="col-md-8 col-lg-9">
                        {{form.tel}}
                      </div>
                    </div>

                    <div class="row mb-3">
                          <label for="id_img" class="col-md-4 col-lg-3 col-form-label">Image</label>
                      <div class="col-md-8 col-lg-9">
                          <input type="file" name="img" accept="img/*" class="form-control" id="id_img">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}