{% extends 'base.html' %}

{% block content %}
  <main id="main" class="main">

      <div class="pagetitle">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'employee' %}">Xodimlar</a></li>
              <li class="breadcrumb-item active">To'lov</li>
            </ol>
          </nav>
      </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{aftomabil_id.nomi}}, {{aftomabil_id.raqami}}</h5>
                <div class="mt-3 ">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                    To'lov qo'shish
                  </button>
                  <div class="modal fade" id="verticalycentered" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <form method="POST" class="modal-content"> {% csrf_token %}
                        <div class="modal-header">
                          <h5 class="modal-title">Istemolchi qo'shish</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                              <label for="id_date" class="col-sm-3 col-form-label">Sana</label>
                              <div class="col-sm-9">
                                {{form.date}}
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="id_summa" class="col-sm-3 col-form-label">Summa</label>
                              <div class="col-sm-9">
                                {{form.summa}}
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="id_izox" class="col-sm-3 col-form-label">Izox</label>
                              <div class="col-sm-9">
                                {{form.izox}}
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Saqlash</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Qachon</th>
                    <th scope="col">Summa</th>
                    <th scope="col">Izox</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in xarajatlar %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ i.date }}</td>
                    <td>{{ i.summa }}</td>
                    <td>
                        <i class="w-20">{{ i.izox }}</i>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->


{% endblock content %}