{% extends 'base.html' %}

{% block content %}
  <main id="main" class="main">

     <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Xodimlar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">

              <!-- General Form Elements -->
              <form method="POST" class="mt-4">{% csrf_token %}
                <div class="row mb-2">
                  <div class="col-sm-4">
                    <input type="date" name="sana" class="form-control">
                  </div>
                  <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Izlash</button>
                  </div>
                </div>
              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">Jadval</h5>
              </div>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">To'liq ism</th>
                    <th scope="col">Pazivnoy</th>
                    <th scope="col">Telefon</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in istemolchi %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{% url 'payment' i.pk %}">{{i.full_name}}</a></td>
                    <td><a href="{% url 'car' i.pk %}">{{ i.pazivnoy }}</a></td>
                    <td>{{ i.tel }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->


{% endblock content %}